.aboutSection{
    width: 100vw;
    height: 100vh;
    color: white;
    margin: 0;
    border: 1px dashed;

    .aboutMessage{
        border: 1px dashed ;
        margin-top: 10vh;
        margin-left: 5vw;
        width: 70%;
        font-size: 1.6rem;

        .knowledgePathBox{
            border: 1px dashed red;
            display: flex;
            flex-direction: row;

            .knowledgePathColumn{
                border: 1px dashed lightblue;
                width: 25%;

                ul{
                    color: gold;


                    .listTitle{
                        list-style:none;
                        color: lightgreen;
                    }
                    
                    li{
                        text-align: center;
                    }
                }

                .toolsList{
                    color: lightblue;
                }
            }

        }
    }
}

